.subscription-page-container {
  margin: 5rem 18%;
}

ul {
  margin: 0;
  padding:0;
  list-style-type: none;
}


main {
  min-height: 19rem;
  padding: 2% 3%;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  border-radius: 5px;
  width: 100%;
}

img {
  border: 1px solid rgba(0,0,0,0.2);
}



