// this would come from a library like Tailwind

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.justify-end {
  justify-content: flex-end;
}

.justify-space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.column {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.mr-1 {
  margin-right: 0.25em;
}

.mr-2 {
  margin-right: 0.5em;
}

.mr-4 {
  margin-right: 1em;
}

.mb-1 {
  margin-bottom: 0.25em;
}

.mb-2 {
  margin-bottom: 0.5em;
}

.mb-8 {
  margin-bottom: 2em;
}

.text-bold {
  font-weight: bold;
}